@using System.Web.Optimization
@model LoanCalculator.ViewModels.LoanFormViewModel
@{
    ViewBag.Title = "New Loan";
}

<h2>New Loan</h2>

@using (Html.BeginForm("Validate","Loan"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.LoanTypeId)
        @Html.DropDownListFor(m => m.LoanTypeId, new SelectList(Model.LoanTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoanTypeId)
    </div>
    <p>
        <label for="NumberOfInstallments">Set desired number of installments:</label>
        <input type="text" id="NumberOfInstallments" name="NumberOfInstallments" readonly style="border:0; color:#1F7EFF; font-weight:bold;">
    </p>
    <div id="sliderNumberOfInstallments"></div>
    <p>
        <label for="Amount">Set desired total amount of loan:</label>
        <input type="text" id="Amount" name="Amount" readonly style="border:0; color:#1F7EFF; font-weight:bold;">
    </p>
    <div id="sliderAmount"></div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Calculate</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#sliderAmount").slider({
                min: 1000,
                max: 80000,
                step: 1000,
                slide: function (event, ui) {
                    $("#Amount").val(ui.value);
                }
            });
            var value = $("#sliderAmount").slider("value");
            $("#Amount").val(value);
        });
    </script>

    <script>
        $(function () {
            $("#sliderNumberOfInstallments").slider({
                min: 1,
                max: 100,
                step: 1,
                slide: function (event, ui) {
                    $("#NumberOfInstallments").val(ui.value);
                }
            });
            var value = $("#sliderNumberOfInstallments").slider("value");
            $("#NumberOfInstallments").val(value);
        });
    </script>

}

